
* {
    font-family: Arial;
}

p {
    font-size: 17px;
}

.logoImg {
    width: 90px;
}

.menuImg {
    width: 20px;
}

.searchImg {
    width: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
}


ul {
    display: flex;

    text-decoration: none;
    list-style-type: none;

    padding-left: 0px;
    margin: 0px;
}

li {
    padding: 12px;
    color: #3e5959;
}

.computerNav {
    display: none;
}








.headline {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    height: 225px;
    background-color: #3e5959;
    color: white;

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

h2 {
    font-size: 30px;
    margin: 0;
}

#tema {
    font-size: 10px;
    font-weight: bold;
    color: #ddebeb;
}





.calculatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 20px;

    background-color: #ddebeb;
}

.calculator {
    display: flex;
    flex-direction: column;

    font-size: 17px;
    font-weight: bold;
}

.calculator input {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;

    font-size: 17px;
}

.getNumber {
    background-color: #ee5c47;
    border: none;

    color: white;
    font-size: 17px;

    padding: 5px;
    width: 100px;
}

#result {
    font-weight: bold;
}

#interestRateImg {
    width: 350px;
    padding: 10px;
}

#source {
    font-size: 14px;
}






.chatbot {
    display: flex;
    flex-direction: column;
}

.chatbot h3 {
    margin-bottom: 0;
}

#button {
    background-color: #ee5c47;
    border: none;

    color: white;
    font-size: 17px;

    padding: 5px;
    margin: 15px;
    width: 125px;
}

.chatbotImg {
    width: 185px;
}






.footerSplitter {
    height: 35px;
    background-color: #ddebeb;
    margin-top: 35px;
    margin-bottom: 35px;
}

.aboutUs {
    padding-top: 25px;
}

#aboutUsText {
    font-size: 14px;

    padding-bottom: 15px;
}


@media only screen and (min-width: 900px) {

    .computerNav {
        display: flex;
        justify-content: space-around;

        margin: 10px;

        font-size: 20px;
    }

    .navbarContainer {
        display: none;
    }

    .headline {
        height: 400px;

        padding-left: 200px;
        padding-right: 200px;
    }

    .headline h2 {
        font-size: 70px;
    }

    #tema {
        font-size: 20px;
    }

    .introText {
        padding-left: 200px;
        padding-right: 200px;
    }

    .calculatorContainer {
        padding-left: 200px;
        padding-right: 200px;
    }

    .calculatorText {
        padding-left: 200px;
        padding-right: 200px;
    }

    .renter {
        padding-left: 200px;
        padding-right: 200px;   
    }

    .chatbot {
        padding-left: 200px;   
        padding-right: 200px;
    }

    .aboutUs {
        padding-left: 200px;  
        padding-left: 200px;
    }
}


