
* {
    font-family: Arial;
}

p {
    font-size: 17px;
}

.logoImg {
    width: 90px;
}

.menuImg {
    width: 20px;
}

.searchImg {
    width: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
}


ul {
    display: flex;

    text-decoration: none;
    list-style-type: none;

    padding-left: 0px;
    margin: 0px;
}

li {
    padding: 12px;
    color: #3e5959;
}





.headline {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    height: 225px;
    background-color: #3e5959;
    color: white;

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

h2 {
    font-size: 30px;
    margin: 0;
}

#tema {
    font-size: 10px;
    font-weight: bold;
    color: #ddebeb;
}





.calculatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 20px;

    background-color: #ddebeb;
}

.calculator {
    display: flex;
    flex-direction: column;

    font-size: 17px;
    font-weight: bold;
}

.calculator input {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;

    font-size: 17px;
}

.getNumber {
    background-color: #ee5c47;
    border: none;

    color: white;
    font-size: 17px;

    padding: 5px;
    width: 100px;
}

#result {
    font-weight: bold;
}





.footerSplitter {
    height: 35px;
    background-color: #ddebeb;
    margin-top: 35px;
    margin-bottom: 35px;
}


.aboutUs {
    padding-top: 25px;
}

#aboutUsText {
    font-size: 14px;
}